@use '../../../../constants/constants.scss' as *;

.filters {
    position: sticky;
    top: $mobile-x-padding;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .MuiTypography-root {
        font-weight: 600;
        font-size: small;
    }

    .filters-header {
        display: flex;
        align-items: center;
        gap: .5rem;

        & > .MuiTypography-root {
            font-size: medium;
        }
    }

    .slider-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.filters-modal {
    width: 60%;
    margin: auto;
    margin-top: $mobile-x-padding;
    .filters-modal-header{
        display: flex;
        justify-content: space-between;
    
        .MuiTypography-root {
            font-size: medium;
        }
    }
}