@use '../../constants/constants.scss' as *;

.contact-us {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    position: sticky;
    top: $mobile-x-padding;
    
    .contact-us-header {
        display: flex;
        justify-content: space-between;
        
        .MuiTypography-root {
            font-weight: 600;
            font-size: medium;
            color : teal;
        }
    }
    
    .contact-us-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;

        .phone-input {
            box-sizing: border-box;
        }
        .react-tel-input .form-control {
            width: 100%;
        }

        .submit-button{
            color: white;
            background-color: black;
            box-shadow: 1px 5px 15px gray;
            padding: .5rem;
        }
    }
}
.contact-us-modal {
    width: fit-content;
    margin: auto;
    margin-top: $mobile-x-padding;
}