.contact-us {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .contact-us-header {
        .MuiTypography-root {
            font-weight: 600;
            font-size: medium;
            color : teal;
        }
    }
    
    .contact-us-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .submit-button{
            color: white;
            background-color: black;
            box-shadow: 1px 5px 15px gray;
        }
    }

    

}