$xs : 0px;
$sm : 600px;
$md : 900px;
$lg : 1200px;
$xl : 1536px;

header{

    .app-bar{
        background-color: #fff;
        color: darkslategray;
        box-shadow: none;
        padding : 1.2rem 5.2rem;
        
        .heading {
            font-weight: 600;
        }

                
        @media  (max-width: $md) {
            padding : .5rem;
        }

    }

}
