@use '../../constants/constants.scss' as *;

.login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    position: sticky;
    top: $mobile-x-padding;
    
    .MuiTypography-root{
        font-weight: 600;
        font-size: small;
        &.small{
            color : darkgray;
        }
        &.teal{
            color: teal ;
        }
    }

    .login-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .MuiTypography-root {
            font-weight: 600;
            font-size: x-large;
        }
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .google-button {
            background-color: white;
        }
        .login-button{
            color: white;
            background-color: black;
            box-shadow: 1px 5px 15px gray;
            padding: .5rem;
        }
    }
}
.login-modal {
    max-width: 400px;
    margin: auto;
    margin-top: $mobile-x-padding;
}