.card {
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    .job-header {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 1rem;
        .heading {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            & > * {
                font-weight: 600;
            }
            .sub-heading > * {
                color: gray;
            }
        }
        .avatar {
            width: 70px;
            height: 70px;
        }
    }

    .icon-info {
        // margin-top: 1rem;

        .icon-text {
            display:flex;
            align-items:center;
            gap: .2rem;
        }
    }

    .card-content {
        color: gray;
    }

    .card-actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        &>*{
            font-size: .9rem;
        }

        .apply-btn {
            margin-left: auto;
            background: teal;
            color: white;
            box-shadow: 1px 5px 15px gray;

            &:hover {
                color: lightseagreen;
            }
        }
    }

}
